<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
        <title>Flask App - {{ title }}</title>
    {% else %}
        <title>Flask App</title>
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="nav">
    <ul>
        <li class="navitem"><a href="/home">Home</a></li>
        <li class="navitem"><a href="/about">About</a></li>
        <li style="float:right" class="dropdown navitem">
          <a href="/notes" class="dropbtn">Notes</a>
          <div class="dropdown-content">
            <a class="navitem" href="/new" methods="POST">New</a>
            <a class="navitem" href="/edit">Edit</a>
            <a class="navitem" href="/delete">Delete</a>
          </div>
        <li class="navitem" style="float:right"><a class="name">Michael's Portfolio</a></li>
        </li>
    </ul>
    </nav>
    <br>
    <div class="contents">
        {% block body %}{% endblock %}
    </div>

    {% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    {% endblock %}
</body>
</html>